@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Concert One", cursive;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 50rem;
  height: 50rem;
  background-color: rgba(11, 15, 155, 0.5);
  border-radius: 50%;
  border: 0.5rem solid #000;
  position: relative;
}

.numbers {
  width: inherit;
  height: inherit;
  position: relative;
}

.numbers div {
  position: absolute;
  font-size: 4rem;
}

.twelve {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.one {
  top: 10%;
  transform: translateY(-10%);
  right: 27.5%;
  transform: translateX(-27.5%);
}

.two {
  top: 25.5%;
  transform: translateY(-25.5%);
  right: 12%;
  transform: translateX(-12%);
}

.three {
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.four {
  bottom: 25.5%;
  transform: translateY(-25.5%);
  right: 12%;
  transform: translateX(-12%);
}

.five {
  bottom: 10%;
  transform: translateY(-10%);
  right: 27.5%;
  transform: translateX(-27.5%);
}

.six {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.seven {
  bottom: 10%;
  transform: translateY(-10%);
  left: 27.5%;
  transform: translateX(-27.5%);
}

.eight {
  bottom: 25.5%;
  transform: translateY(-25.5%);
  left: 12%;
  transform: translateX(-12%);
}

.nine {
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.ten {
  top: 25.5%;
  transform: translateY(-25.5%);
  left: 12%;
  transform: translateX(-12%);
}

.eleven {
  top: 10%;
  transform: translateY(-10%);
  left: 27.5%;
  transform: translateX(-27.5%);
}

.arrows {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows::before {
  content: "";
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
}

.arrows div {
  width: 2rem;
  height: 17rem;
  background-color: #fff;
  position: absolute;
  bottom: 50%;
  border-radius: 100% 100% 0 0;
  transform-origin: bottom center;
}

.arrows .hour {
  height: 10rem;
  transform: rotate(90deg);
}

.arrows .second {
  background-color: red;
  transform: rotate(270deg);
}
